<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form Validation</title>


</head>


<body>
 
<h2><center>Form Validation</center></h2>

<br>
<div id="form" class=div>
<form name="myform" action="">
First name: <input type="text" name="fname" id="fn" class="name" placeholder="First name" ><br><br>
Last name: <input type="text" name="lname" id="ln" class="name" placeholder="Last name" ><br><br>
Enter Email: <input type="email" placeholder="Enter Email" name="email" id="e"><br><br>
Password: <input type="text" placeholder="Password" name="password" id="pswd"><br><br>
Phone no.: <input type="number" placeholder="Mobile Number" name="number" id="no" onkeypress="return validateNumber()"><br><br>

Date Of Birth:- MM<input size="3" tabindex="6" class="dateofbirth" maxlength="3" placeholder="Month" id="mn" >
DD:-<input size="2" tabindex="7" maxlength="2" class="dateofbirth" placeholder="Day" id="dy" >
YY:-<input size="4" tabindex="8" maxlength="4" class="dateofbirth" placeholder="Year" id="ye" ><br><br>
User Id: <input type="text" placeholder="User Id" name="regid" id="ri"><br><br>
<input type="submit" class="button" value="Submit" id="formfinalbtn">
</form>
</div>
</body>
</html>

